.movie-container{
    .display-movie{
        display: flex;
        gap: 20px;
        justify-content: end;
        align-items:flex-start;

        .img-movie{
            width: clamp(300px, 20vw, 600px);
            height: clamp(400px,25vh,800px);
        }
    }
}